.rate{margin-left: 100px}
.body{display: flex;justify-content: space-around;}
.pics{height: 300px;}
.nav{display: flex;padding: 100px;justify-content: space-between;}
.track{margin-top: 300px;display:flex;}
.modal-footer{margin-top: -60px;}
.find{width: 600px;}
.btnadd{display: flex;margin-top: 20px;}
.modal-body{margin-left: 300px;color:red;}